* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: green;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lime;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: inline-block;
  margin: 10px;
  transition: 0.2s ease-in;
  color: black;
}

nav a:hover {
  background-color: green;
  color: white;
}
